{% extends "_layouts/base.njk" %}
{% block content %}
<article class="panel is-info">
  <div class="panel-heading" >
    <div style="display: flex; justify-content: space-around">
        <div>Right now:</div>
        <div><span></span>&#9925;<span id="tempRightN">Temp: </span></div>
        <div><span></span>&#127744;<span id="windRightN">Wind: </span></div>
    </div>
    <div style="display: flex; justify-content: space-around">
        <div>Max Today:</div>
        <div><span>&#9925;</span><span id="maxTemp">Temp: </span></div>
        <div><span>&#127744;</span><span id="maxWind">Wind: </span></div>
    </div>
  </div>
  <p class="panel-tabs"></p>
      <div class="panel-block" style="display: flex; justify-content: space-around;">
        <div>
            <img src="https://cdn-icons-png.flaticon.com/128/6251/6251438.png">
            <h4 id="minTempD">Temp min: </h4>
        </div>
        <div>
          <img src="https://cdn-icons-png.flaticon.com/128/5996/5996683.png">
          <h4 id="maxTempD">Temp max: </h4>
        </div>
      </div>
</article>
{% endblock content %}
