{% extends "_layouts/base.njk" %}
{% block content %}
<article class="panel is-info">
<p class="panel-heading"> </p>
<p class="panel-tabs">
  <a class="is-active">Cities</a>
</p>
  <div id="cityesList">
  </div>
</article>
{% endblock content %}
