<nav class="navbar" role="navigation" aria-label="main navigation">
<div class="navbar-brand">
<!-- navbar items, navbar burger... -->
</div>
  <div class="navbar-menu">
    <a href="{{ '/' | url }}" class="navbar-item">
      <img src="{{ '/_assets/jpg/logo.png' | url }}"
    </a>
    <a href="{{ '/' | url }}" class="navbar-item">Home</a>
    <a href="{{ '/settings' | url }}" class="navbar-item">Settings</a>
  </div>
</nav>
