<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
	<title>Index</title>
</head>
<body class="container">
	<!-- Header start -->
	<header class="section">
		<!-- Menu here -->
		{% include "_includes/header.njk" %}
	</header>
	<!-- Header end -->
	<!-- Content start -->
	<div class="section">
		<div class="content">
			<div class="has-text-centered" style="margin-bottom: 50px;">
				<h1 id="title">Dashboard</h1> <!-- Name of the city or dashboard -->
			</div>
			<!-- Content -->
			<div class="content-data">
			{% block content %}
			{% endblock content %}
			</div>
			<!-- Content end -->
		</div>
	</div>
	<!-- Content end -->
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="module" src="{{ '/_assets/js/main.js' | url }}"></script>
</body>
</html>
